@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: var(--font-sans);
  color: var(--text-default);
  background-color: var(--bg-default);
  display: flex;
  flex-direction: column;
  align-items: center;
}
